<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.9.12">
          <name>feature</name>
          <description></description>
          <uuid>c2294211-f5c4-4471-8809-38a8b5419c5a</uuid>
          <type>PT_BRANCH</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <branchFilter>origin/(.*)</branchFilter>
          <sortMode>NONE</sortMode>
          <defaultValue></defaultValue>
          <selectedValue>NONE</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>10</listSize>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.9.12">
          <name>parentBranch</name>
          <description>By Default, develop. The branch from which your &apos;feature&apos; branched off</description>
          <uuid>a39232f3-37fd-4f99-a402-480b987e1fc9</uuid>
          <type>PT_BRANCH</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <branchFilter>origin/(.*)</branchFilter>
          <sortMode>NONE</sortMode>
          <defaultValue>develop</defaultValue>
          <selectedValue>DEFAULT</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>5</listSize>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.9.12">
          <name>destination</name>
          <description></description>
          <uuid>79f67604-8052-469d-a67f-c260ecd5ef37</uuid>
          <type>PT_BRANCH</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <branchFilter>origin/(.*)</branchFilter>
          <sortMode>NONE</sortMode>
          <defaultValue></defaultValue>
          <selectedValue>NONE</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>5</listSize>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:dsl12/smartcloudGenerationDemo.git</url>
        <credentialsId>f02e7e59-47c8-4102-912e-a3eb89713169</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${feature}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
        <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
      </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>git config --global user.email &quot;david.liskevich@smartcloudconsultants.com&quot;&amp;&amp;
  git config --global user.name &quot;Jenkins&quot; </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cp -rf /var/jenkins_home/CI/app.zip . &amp;&amp; unzip -qq app.zip &amp;&amp; npm rebuild</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git merge-base origin/${feature} origin/${parentBranch} &gt; parentBranch.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git diff --name-only --diff-filter=A $(cat parentBranch.txt) &gt; addedFiles.txt </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git diff --name-only --diff-filter=M $(cat parentBranch.txt) &gt; changedFiles.txt </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git diff --name-only  $(cat parentBranch.txt) &gt; filesToIncludeInBuild.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git checkout -B ${feature}-${destination}-merge  &amp;&amp;  echo &apos;*.DS_Store&apos; &gt; .gitIgnore &amp;&amp; echo ${feature}-${destination}-merge</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git merge --no-edit --no-commit -s recursive -Xtheirs origin/${destination}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>node --max-old-space-size=4096 app.js origin/${feature} $(cat parentBranch.txt) origin/${destination} false</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git add src/* &amp;&amp; git commit -m &apos;Jenkins commit&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &apos;git remote set-url origin https://dsl12@github.com/dsl12/smartcloudGenerationDemo.git&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git push -u origin HEAD</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git checkout -B ${feature}-${destination}-Release</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>node --max-old-space-size=4096 app.js origin/${feature} $(cat parentBranch.txt) origin/${destination} true</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cp /var/jenkins_home/CI/cleanBuildFile.class . &amp;&amp; java cleanBuildFile yes </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mv package.xml src &amp;&amp; ls &amp;&amp; ls src &amp;&amp; git add src/package.xml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git commit -am&apos; Creating Release&apos; &amp;&amp; git push -u origin HEAD</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>