<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs all unit tests in the CI salesforce environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>2</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.PasswordParameterDefinition>
          <name>SalesforcePassword</name>
          <description>Jenkins own password + security token for the salesforce environment</description>
          <defaultValue>{AQAAABAAAACQen1+le2ARoG97EfEk7CzLRzUqX8A5TGcMT3sfbkHk6vgg4jPgVO4mkaM15M23etyVN003HPTeSOlhTLZI5iNghlV92Y7P+rV8Iy2fBsB5uAVS5b/HjbvltIe1JL/hO24lfyDgsWA4hzRwnGK/sNnsNGwSaJLUwFaPmwb1DODs12VNDFcfOME36fIfM8LlIEFpp2J9qgjTG/TNR4d/pTpkg==}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SalesforceUsername</name>
          <description>Jenkins username for salesforce environment</description>
          <defaultValue>test@test.test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>AutoGeneratePackageXML</name>
          <description>determines whether to autogenerate the package.xml - by default it will generate it even without any argument
selecting no will mean it won&apos;t auto generate the package.xml and you should provide one</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>yes</string>
              <string>no</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.9">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>devBranch/src</remote>
        <credentialsId></credentialsId>
        <local>src/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://subversion.assembla.com/svn/cap-mm-coop/branches/MM_Sprint1/package</remote>
        <credentialsId></credentialsId>
        <local>package/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <quietPeriod>480</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp ${JENKINS_HOME}/CI -rf . &amp;&amp; cp ${JENKINS_HOME}/CI/buildfiles/cleanupBuild/cleanBuildFile.class .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>java cleanBuildFile $AutoGeneratePackageXML</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mv ${JENKINS_HOME}/workspace/${JOB_NAME}/package/package.xml ${JENKINS_HOME}/workspace/${JOB_NAME}/src/package.xml </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.7">
      <targets>-lib
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/dataLoader_jars/ant-salesforce.jar
-propertyfile
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/buildfiles/build.properties</targets>
      <buildFile>CI/buildfiles/build.xml</buildFile>
      <properties>sf.username  = $SalesforceUsername
sf.password = $SalesforcePassword
sf.serverurl = https://test.salesforce.com
sf.checkOnly = false
sf.runAllTests = true
sf.logLevel = None
sf.testLevel = RunAllTestsInOrg</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>