<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Extracts changes from CI and Commits declarative changes into SVN</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SalesforceUsername</name>
          <description>The Username for the Destination Salesforce Environment</description>
          <defaultValue>test@test.test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>SalesforcePassword</name>
          <description>The Username AND Security Token for the destination Environment</description>
          <defaultValue>{AQAAABAAAACQz76qckQIJlAShw5hqufrtyvdGZmCaLUwX/ADfkHzg9Z3o+XmeAwL+RuCJfps2y4SWYcxr5LTY6n2+TqFZP5it1ujPNRL/sQBaus0aMYktPTj1OgN9cDN7fRANHVQbYwpZKiNmRcVZN1kYLDYoYvqZMKwfr2uEP5e4nvaerzO0+MupJfvUMfd7pV7xrWJTc+vvZ/ncmiJJx6wKXW85OOHPg==}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SVNUSER</name>
          <description>Jenkins username for svn</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SVNPASS</name>
          <description>Jenkins password for svn</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.9">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>devBranch/src</remote>
        <credentialsId></credentialsId>
        <local>src/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>devBranch/package</remote>
        <credentialsId></credentialsId>
        <local>package/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <quietPeriod>600</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H/3 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp ${JENKINS_HOME}/CI -rf . &amp;&amp; cp ${JENKINS_HOME}/CI/buildfiles/cleanupBuild/cleanBuildFile.class .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>-lib
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/dataLoader_jars/ant-salesforce.jar
-propertyfile
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/buildfiles/build.properties retrieveUnpackaged</targets>
      <buildFile>CI/buildfiles/build.xml</buildFile>
      <properties>sf.username  = $SalesforceUsername
sf.password = $SalesforcePassword
sf.serverurl = https://test.salesforce.com
sf.retrieveTarget = src
sf.packageLocation = package/package.xml</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>cd src/profiles
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins profile Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/permissionsets
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins PermissionSet Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/workflows
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Workflow Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/layouts
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Layouts Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/objects
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Objects Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/queues
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Queues Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>svn add --force src/groups
cd src/groups
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Groups Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/settings
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins Settings Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/assignmentRules
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins assignmentRules Change&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/applications
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins app Changes&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/documents
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins documents Changes&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/approvalProcesses
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins approvalProcesses Changes&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/assignmentRules
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins assignmentRules Changes&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd src/reportTypes
svn status
svn --username $SVNUSER --password $SVNPASS commit -m &apos;Auto commit from Jenkins reportTypes Changes&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>