<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.PasswordParameterDefinition>
          <name>SalesforcePassword</name>
          <description>The Username AND Security Token for the destination Environment</description>
          <defaultValue>{AQAAABAAAACQ6puo2LonNXQOiLDA2dzmxgPSIafYU18Ppuvvlkwc2yU5keTeeW7pOIfx9pVHokyhQFEiTrX3cZ/c6cvVpw9yhiWuS+AZ4IzxNXUzSXIJnn9hf4DuUn8ZqOATFBHSOB0/JVODA1botAIZuUkvZ7RL8HtcYVYsuhuwDyKvB3d+hm0yC8EA+XkcMaqkS1syK0Jg+Q0z5VCmZykccjsofrsS6g==}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SalesforceUsername</name>
          <description>The Username for the Destination Salesforce Environment</description>
          <defaultValue>test@test.test</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.9">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>devBranch/src</remote>
        <credentialsId></credentialsId>
        <local>src/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>devBranch/package</remote>
        <credentialsId></credentialsId>
        <local>package/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <quietPeriod>600</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>CI_Build</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp ${JENKINS_HOME}/CI -rf . &amp;&amp; cp ${JENKINS_HOME}/CI/buildfiles/cleanupBuild/cleanBuildFile.class .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>java cleanBuildFile no</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mv ${JENKINS_HOME}/workspace/${JOB_NAME}/package/package.xml ${JENKINS_HOME}/workspace/${JOB_NAME}/src/package.xml </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>-lib
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/dataLoader_jars/ant-salesforce.jar
-propertyfile
${JENKINS_HOME}/workspace/${JOB_NAME}/CI/buildfiles/build.properties CoOpTests</targets>
      <buildFile>CI/buildfiles/build.xml</buildFile>
      <properties>sf.username  = $SalesforceUsername
sf.password = $SalesforcePassword
sf.serverurl = https://test.salesforce.com
sf.checkOnly = true
sf.runAllTests = false
sf.logLevel = None
sf.testLevel = RunSpecifiedTests</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>