<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds the latest commits to a development branch into the CI salesforce environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.svn__partial__release__mgr.ui.JobPropertyImpl plugin="svn-partial-release-mgr@1.0.1"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SalesforceUsername</name>
          <description>The Username for Jenkins for  the CI Salesforce Environment</description>
          <defaultValue>jenkinsuser@mm.coop.ci</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>SalesforcePassword</name>
          <description>The Password AND Security Token for Jenkins for the CI Environment</description>
          <defaultValue>{AQAAABAAAAAQSen4TDuqkuLoaK3z5UK/QA6Oigo/mwqTj+7sfdc/Ltg=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TestLevel</name>
          <description>What test level for deployment</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>NoTestRun</string>
              <string>RunSpecifiedTests</string>
              <string>RunLocalTests</string>
              <string>RunAllTestsInOrg</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>RepoURL</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>https://sfci.unitt.net/svn/cap-mm-coop</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.10.2">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>${RepoURL}/branches/MM_Sprint1/src</remote>
        <credentialsId>8cd9c5f9-65fe-4623-a453-aa95366372d1</credentialsId>
        <local>src/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>${RepoURL}/branches/MM_Sprint1/package</remote>
        <credentialsId>8cd9c5f9-65fe-4623-a453-aa95366372d1</credentialsId>
        <local>package/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>${RepoURL}/branches/CI</remote>
        <credentialsId>8cd9c5f9-65fe-4623-a453-aa95366372d1</credentialsId>
        <local>CI/</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
    <quietOperation>false</quietOperation>
  </scm>
  <quietPeriod>480</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp CI/buildfiles/cleanupBuild/cleanBuildFile.class .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>java cleanBuildFile no</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mv ${JENKINS_HOME}/workspace/${JOB_NAME}/package/package.xml ${JENKINS_HOME}/workspace/${JOB_NAME}/src/package.xml </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.8">
      <targets>-lib
${JENKINS_HOME}/workspace/CI_Build/CI/dataLoader_jars/ant-salesforce.jar
-propertyfile
${JENKINS_HOME}/workspace/CI_Build/CI/buildfiles/build.properties</targets>
      <antName>(Default)</antName>
      <buildFile>CI/buildfiles/build.xml</buildFile>
      <properties>sf.username  = $SalesforceUsername
sf.password = $SalesforcePassword
sf.serverurl = https://test.salesforce.com
sf.checkOnly = false
sf.runAllTests = true
sf.logLevel = None
sf.testLevel = $TestLevel</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>dave.liskevich@capgemini.com chris.unitt@capgemini.com liam.owen@capgemini.com mark.woodbridge@capgemini.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.8">
      <template>#CI_BUILD</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>